<div>
    <form action="/search" method="get">
        <p> 
            <span>搜索:</span> <input name="q" type="text"><button type="submit">搜索</button>
        </p>
    </form>
</div>
<%
if (active=='search') {
%>
<div>
    <p>搜索结果如下(<a href="/">返回首页</a>):</p>
</div>
<%
} else {
%>
<div>
    <a href="/"><span <%=active=='all'?'class=active':''%> >全网商品</span></a>|
    <a href="/top_hour"><span <%=active=='top_hour'?'class=active':''%> >两小时销量榜</span></a>|
    <a href="/top_day"><span <%=active=='top_day'?'class=active':''%> >全天销量榜</span></a>
</div>
<%
}
%>
<% for(let goods of goosList) {%>
<% include goodsList %>
<% } %>
<div><p>第<span>1</span>页</p></div>

<style>
img {
    width: 200px;
}
.active{
    color: red;
}
</style>